{{!--
secsy-webclient

Copyright (c) 2016 Reto Inderbitzin <mail@indr.ch>

For the full copyright and licence information, please view
the LICENSE file that was distributed with this source code.
--}}

{{#bs-form action="activate" model=this novalitade=true}}
    <div class="{{if isModal 'modal-footer modal-empty'}}">
      {{#bs-form-group}}
        {{#link-to 'login' class="btn btn-link pull-left"}}{{t 'actions.login'}}{{/link-to}}
        {{#bs-button type="primary" buttonType="submit" textState=activateState}}{{t 'activate.action'}}{{/bs-button}}
      {{/bs-form-group}}
    </div>
{{/bs-form}}