{{!--
secsy-webclient

Copyright (c) 2016 Reto Inderbitzin <mail@indr.ch>

For the full copyright and licence information, please view
the LICENSE file that was distributed with this source code.
--}}

{{#bs-form class="search-form"}}
    <div class="input-group">
      {{bs-input type='text' value=addressbook.searchQuery placeholder='Search for contacts' autofocus=true keyUp='keyUp'}}
        <span class="input-group-btn">
                {{!--{{bs-button type='primary' buttonType='submit' icon='glyphicon glyphicon-search'}}--}}
          {{bs-button type='default' action='close' icon='glyphicon glyphicon-remove'}}
          </span>
    </div>
{{/bs-form}}
