<div class="row" style="margin-top:20px">
  <div class="col-xs-9 col-sm-8">
    {{bs-input type="text" value=query placeholder="Search..."}}
  </div>
  <div class="col-xs-3 col-sm-4">
    <p class="text-right">
      {{#link-to "contacts.new" class="btn btn-default" }}<span class="glyphicon glyphicon-plus"></span>{{/link-to}}
    </p>
  </div>
</div>
