{{#each groups as |group|}}
    <div class="row">
        <div class="col-xs-12">
            <h3>{{group.value}}</h3>
        </div>
    </div>
    <div class="row">
      {{#each group.items as |contact|}}
        {{contact-card contact=contact}}
      {{/each}}
    </div>
{{/each}}
