{{#if showForgot}}
    <div class="alert alert-info">
        <p>Did you forget your {{t 'decrypt.passphrase'}}?</p>
        <p>You can {{#link-to 'generate.forgot'}}generate{{/link-to}} a new key. By doing so you will loose your addressbook
            and all its contacts!</p>
    </div>
{{/if}}
{{#bs-form action="decrypt" model=this}}
  {{bs-form-element controlType="password" label=(t 'decrypt.passphrase') property="passphrase"}}

  {{#bs-form-group}}
    {{#bs-button type="primary" buttonType="submit"}}{{t 'actions.decrypt'}}{{/bs-button}}
  {{/bs-form-group}}
{{/bs-form}}
