body {
  padding-top: 50px;
}

.footer {
  margin-top: 60px;
}

.flash-messages-container {
  margin-top: 25px;
}

.leaflet-container {
  height: 500px;
}

/**
 * http://stackoverflow.com/questions/18730116/twitter-bootstrap-3-0-how-do-i-badge-badge-important-now
 */
.label-pill {
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem;
}

/**
 * Cards
 */

a.card-link:hover {
  text-decoration: none;
}

.card .caption h4 {
  margin-top: 0px;
  /*white-space: nowrap;*/
  /*overflow: hidden;*/
}
.card .caption {
  white-space: nowrap;
  overflow: hidden;
}
.card .label {
  margin-right: 7px;
}

