body {
  padding-top: 50px;
}

.footer {
  margin-top: 60px;
}

.flash-messages-container {
  margin-top: 25px;
}

.leaflet-container {
  height: 500px;
}

/**
 * http://stackoverflow.com/questions/18730116/twitter-bootstrap-3-0-how-do-i-badge-badge-important-now
 */
.label-pill {
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem;
}
