{{!--
secsy-webclient

Copyright (c) 2016 Reto Inderbitzin <mail@indr.ch>

For the full copyright and licence information, please view
the LICENSE file that was distributed with this source code.
--}}

<h3>{{t 'share.title'}}</h3>

{{contact-share-form model=model cancel='cancel' share='share' shareState=shareState}}
