<div style="margin-bottom:15px">
  {{#bs-button type='default' action='generateFakes'}}Generate fake contacts{{/bs-button}}
  {{#bs-button type='default' action='clearContacts'}}Delete all contacts{{/bs-button}}
</div>
<hr>

{{outlet}}
