
<p class="text-center" style="margin-top:30px">
{{#link-to "login" class="btn btn-primary btn-lg"}}{{t "actions.login"}}{{/link-to}}
 or
{{#link-to "signup" class="btn btn-success btn-lg"}}{{t "actions.signup"}}{{/link-to}}
</p>

{{outlet}}
