<p>
  {{#bs-button type='default' action='generateFakes'}}Generate fake contacts{{/bs-button}}
</p>
<p>
  {{#bs-button type='default' action='deleteAll'}}Delete all contacts{{/bs-button}}
</p>

{{outlet}}
